# Binaries and dependencies
bin
obj

# Config files
.vs/*
.vscode/* # I'm using Visual Studio but if I need VSCode...

# Solution
*.sln

# User-specific stuff
.editorconfig
.user

# Publish profiles, etc
Properties/*
